:root {
    --color: #000;
    --background: #111;
    --space: 2px;
    --mask: url("//mask.png");
    --space-2x: calc(var(--space) * 2);
    --space-3x: calc(var(--space) * 3);;
    --margin-default: var(--space-2x);
}

.app {
    color: var(--color);
    background-color: var(--outside-property);
}

.header {
    --border: var(--space) solid var(--background);
    border-bottom: var(--border);
    color: var(--color);
}


.main {
    margin: var(--margin-default);
}
